In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("data/sample-001.csv")

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo