In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.DataFrame({
    'Qu1': [1,3,4,3,4],
    'Qu2': [2,3,1,2,3],
    'Qu3': [1,5,2,4,4]
})

In [3]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [8]:
pd.value_counts(data['Qu1'])

4    2
3    2
1    1
Name: Qu1, dtype: int64

In [10]:
data.apply(pd.value_counts).fillna(0)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0